<h1 class="d-flex justify-content-center m-5">Retrouvez notre échantillons de photos</h1>
<h2 class="d-flex justify-content-center m-5">Sélectionnées rien que pour vous ...</h2>
<div class="card-group m-5">
        <div class="card m-5">
          <img class="card-img-top" src="assets/images/bulle.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Bubulle</h5>
            <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 1 day ago</small></p>
          </div>
        </div>
        <div class="card m-5">
          <img class="card-img-top" src="assets/images/clown.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Clown</h5>
            <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 3 mounth ago</small></p>
          </div>
        </div>
        <div class="card m-5">
          <img class="card-img-top" src="assets/images/danse.jpg" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title d-flex justify-content-center">Danse</h5>
            <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 3 secs ago</small></p>
          </div>
        </div>
      </div>
      <div class="card-group m-5">
            <div class="card m-5">
              <img class="card-img-top" src="assets/images/girl.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Girl</h5>
                <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card m-5">
              <img class="card-img-top" src="assets/images/jongle.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Jonglage</h5>
                <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
            <div class="card m-5">
              <img class="card-img-top" src="assets/images/lama.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">Lama</h5>
                <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 3 mins ago</small></p>
              </div>
            </div>
          </div>
          <div class="card-group m-5">
                <div class="card m-5">
                  <img class="card-img-top" src="assets/images/muse.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Musée</h5>
                    <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 1 mounth ago</small></p>
                  </div>
                </div>
                <div class="card m-5">
                  <img class="card-img-top" src="assets/images/show.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">ShowMan</h5>
                    <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 1 mins ago</small></p>
                  </div>
                </div>
                <div class="card m-5">
                  <img class="card-img-top" src="assets/images/trapeze.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">Acrobate</h5>
                    <p class="card-text d-flex justify-content-center"><small class="text-muted">Last updated 50 secs ago</small></p>
                  </div>
                </div>
              </div>