img{
    height: 370px;
}

.card{
    box-shadow: 0px 8px 8px rgba(63, 66, 119,0.8);
    border:none;
}

h1{
    color: white;
    font-family: Times, Times New Roman, serif;
}

h2{
    color: white;
    font-family: Apple Chancery, cursive;
    font-style: italic;
}

.card-body{
    background-color: rgb(253, 226, 226);
    }