
<h1 class="d-flex justify-content-center m-5">Accueil</h1>
<h2 class="d-flex justify-content-center m-5">Les valeurs du Wild Circus :</h2>
<div class="card m-5">
  <div class="card-header d-flex justify-content-center">
    <img class="engagement" src="assets/images/intro.jpg">
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p class="text-center">Au Wild Circus, notre engagement va au-delà du spectacle. Nous visons à avoir un impact positif sur les humains, les communautés et la planète en utilisant ce qui nous distingue: la créativité et l'art.</p>
      <footer class="blockquote-footer d-flex justify-content-center">“Le cirque est un petit bout d'arène close, propre à l'oubli.” ... <cite title="Source Title">Henry Miller</cite></footer>
    </blockquote>
  </div>
</div>

<h2 class="d-flex justify-content-center m-5">Nos animaux :</h2>
<div class="card-deck m-5">
  <div class="card card1">
    <img class="card-img-top" src="assets/images/horse.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">Canaille</h5>
      <p class="card-text text-center">L’art équestre est antérieur à la création du Cirque. Il remonte à la plus Haute Antiquité.
        Le cheval au Cirque fut tout d’abord utilisé comme monture pour les acrobaties par Philip Astley, qui lui même avait repris les exercices de ses illustres devanciers.</p>
    </div>
    <div class="card-footer">
      <small class="text-muted">El concerto des caval's</small>
    </div>
  </div>
  <div class="card card1">
    <img class="card-img-top" src="assets/images/chameau.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">Blosty</h5>
      <p class="card-text text-center">Présentés en tant qu'exotiques, les dromadaires et chameaux sont assez nombreux dans les cirques français.
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">Le caroussel des bosses</small>
    </div>
  </div>
  <div class="card card1">
    <img class="card-img-top" src="assets/images/elephant.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title d-flex justify-content-center">Roustre</h5>
      <p class="card-text text-center">L’éléphant au cirque est une longue et parfois douloureuse histoire d’amour. L’histoire du cirque a lié l’homme et l’animal. </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">La grandeur de la trompe</small>
    </div>
  </div>
</div>