<h1 class="text-center m-5">Notre histoire</h1>
<main class="mt-5">
        <p>1851-1909 <br> Grâce au Duc de Morny, l’autorisation de construire fut accordée le 17 décembre 1851. C’est à̀ Jacques Ignace Hittorf, architecte du Cirque d’été et de la Gare du Nord, que fit appel Dejean. Les travaux débutèrent le 17 avril 1852 et durèrent 8 mois. C’est le Prince Louis Napoléon qui inaugura, le 11 décembre 1852, le cirque auquel il allait prêter son nom.</p>
        <p>1907-1934 <br>Les premiers spectacles de la famille Bouglione mettaient en scène des fauves. En 1910, Joseph dit Sampion Bouglione est sauvé par son fils durant une présentation de fauves.</p>
        <p>1907<br> Ils reprennent la direction du Cirque et font rayonner sur la ville de Paris un nouveau souffle artistique.</p>
        <p>1955 <br> Ils vont réitérer le succès en reprenant ces pantomimes, tout en associant des tournées nationales avec leurs chapiteaux.</p>
        <p>1934 <br> « La Perle du Bengale », « La Princesse Saltimbanque », « Les Aventures de la Princesse de Saba », trois pantomimes célèbres, spectacles</p>
      </main>
