img {
    width:400px;
    height: 400px;

}

h1{
    color: white;
    font-family: Times, Times New Roman, serif;
}

h2{
    color: white;
    font-family: Apple Chancery, cursive;
    font-style: italic;
}

table{
    border: solid 1px white;
}