<ng-template #content>
    <div class="card">
        <div class="modal-body">
            <h3 class="title d-flex justify-content-center">Modifier votre Numero</h3>
        </div>
        <div class="container-fluid mt-5 mb-5">
            <div class="row modal1">
                <form class="offset-1 offset-md-2" (ngSubmit)="editNumero(numero,numeroForm.id)" #numero="ngForm">
                    <div class="row mb-5">
                        <p class="col-3 text-color">Nom :</p>
                        <input class="col" type='text' placeholder="nom" name="nom" #nom="ngModel"
                            [(ngModel)]="numeroForm.nom" [ngModel]>
                    </div>
                    <div class="row mb-5">
                        <p class="col-3 text-color">Genre :</p>
                        <input class="col" type='text' placeholder="genre" name="genre" #genre="ngModel"
                            [(ngModel)]="numeroForm.genre" [ngModel]>
                    </div>
                    <div class="row mb-5">
                        <p class="col-3 text-color">Artiste :</p>
                        <input class="col" type='number' placeholder="genre" name="artist" #artist="ngModel"
                            [(ngModel)]="numeroForm.artist" [ngModel]>
                    </div>
                    <div class="row mb-5">
                        <p class="col-3 text-color">Photo :</p>
                        <input class="col" type='string' placeholder="photo" name="picture" #picture="ngModel"
                            [(ngModel)]="numeroForm.picture" [ngModel]>
                    </div>
                    <button class='btn btn-primary m-5' type="submit">Enregistrer</button>
                    <button class="btn btn-danger m-5" type="bouton" (click)="close()">Fermer</button>
                </form>
            </div>
        </div>
    </div>
</ng-template>
